<p>
  <strong>Название колоды:</strong>
  <%= @deck.title %>
</p>
<p>Это
   <% if !@deck.is_current %> 
     <%= " не" %> 
   <% end %>
    текущая колода
</p>

<%= link_to 'Вернуться', decks_path %> |
<%= link_to 'Редактировать', edit_deck_path(@deck) %>