<h1>Привет!</h1>
<p>
  Отличная новость, несколько твоих карточек готовы для повторения. 
  Например, ты помнишь как переводится <%= @sample_word %>?
</p>
<p>
  Проверить сегодняшние карточки и добавить новые ты можешь по этой ссылке <%= @url %>.
</p>
<p>На этом все, отличного дня!</p>
